<!doctype html>
<html ng-app = "LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-controller ="LunchCheckController">
   <div class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group" style=" box-shadow: 0px 0px 5px {{styles}}; ">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="dishes">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkDishes()">Check If Too Much</button>
         </div>
         <div class="form-group message" style="color:{{styles}};" >
           {{message}}
         </div>
   </div>


</body>
</html>
